<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head th:replace="fragments/base.html :: headerfiles(title='Homepage')">
</head>
<body>

<div class="all">

    <header th:replace="fragments/base.html :: menuNegozio(farmacia = ${isFarmacia})">
    </header>


    <div class="main_content">
        <div class="header" id="tamponi-header">
            <span>Gestisci tamponi</span>
            <form method="post" th:action="@{'/dipendente/'+${locale.id}+'/gestisciTamponi'}" th:object="${locale}">
                <span>Prezzo tamponi</span>
                <input type="number" step="0.01" th:field="${locale.prezzoTampone}">
                <span>Tamponi disponibili</span>
                <input type="number" th:field="${locale.tamponiDisponibili}">
                <input type="submit" value="modifica"/>
            </form>
        </div>
        <div class="info">
            <div class="tamponi-box">
                <form th:action="@{'/dipendente/'+${locale.id}+'/aggiungiEsiti'}" th:object="${locale}" method="post">
                    <div class="tamponi-prenotati" th:each="tampone,iter: ${locale.tamponiPrenotati}">
                        <span th:text="${iter.index}+' '" style="font-weight: bold"></span>
                        <span th:text="${#temporals.format(tampone.dataPrenotazione, 'dd-MM-yyyy')}"></span>
                        <span th:text="'prenotato da '+ ${tampone.utente.nome} + ' ' + ${tampone.utente.cognome}"></span>
                        <span th:text="' al prezzo di '+${tampone.prezzoVendita}"></span>
                        <input type="text" th:field="*{tamponiPrenotati[__${iter.index}__].esito}" placeholder="esito">
                    </div>
                  <div id="bottoni-modifica-prodotti">
                    <span> <input type="submit" value="Salva"> </span>
                    <span> <button th:href="@{'/dipendente/'+${locale.id}}">Annulla</button></span>
                  </div>
                </form>
            </div>
        </div>
    </div>
</div>

<footer th:replace="fragments/base.html :: fondo">
</footer>

</body>
</html>