<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head th:replace="fragments/base.html :: headerfiles(title='Homepage')">
</head>
<body>

<div class="all">

    <header th:replace="fragments/base.html :: menuUtente(utente = ${utente})">
    </header>


    <div class="main_content">
        <div class="header">Area personale</div>
        <div class="info">
            <div class="profilo-box">
                <img th:src="@{images/avatar.png}" class="avatar">
                <div>
                    <span>Nome e Cognome</span>
                    <span style="font-weight: bold" th:text="|${utente.nome} ${utente.cognome}|">Nome e cognome utente</span>
                </div>
                <div>
                    <span>Data di nascita</span>
                    <span style="font-weight: bold" th:text="${#temporals.format(utente.dataNascita, 'dd-MM-yyyy')}">Data nascita utente</span>
                </div>
                <div>
                    <span>Localita</span>
                    <span style="font-weight: bold" th:text="${utente.localita.nome}">Localita utente</span>
                </div>
                <div>
                    <span>Provincia</span>
                    <span style="font-weight: bold" th:text="${utente.localita.provincia}">Provincia localita utente</span>
                </div>
                <div th:if="${utente.vaccino != null}">
                    <div>
                        <span>Tipologia Vaccino </span>
                        <span style="font-weight: bold" th:text="${utente.vaccino.tipologia}">Nome vaccino </span>
                    </div>
                    <div th:if="${utente.vaccino.dataPrimaDose != null}">
                        <span>Data prima dose</span>
                        <span style="font-weight: bold" th:text="${#temporals.format(utente.vaccino.dataPrimaDose, 'dd-MM-yyyy')}">Data prima dose </span>
                    </div>
                    <div th:if="${utente.vaccino.dataSecondaDose != null}">
                        <span>Data seconda dose </span>
                        <span style="font-weight: bold" th:text="${#temporals.format(utente.vaccino.dataSecondaDose, 'dd-MM-yyyy')}">Data seconda dose </span>
                    </div>

                </div>
            </div>


        </div>
    </div>
</div>


<footer th:replace="fragments/base.html :: fondo">
</footer>

</body>
</html>