<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head th:replace="fragments/base.html :: headerfiles(title='Homepage')">
</head>
<body>



<header th:replace="fragments/base.html :: intestazione">
</header>

<div id="blocco-presentazione">
    <h3 id="testo-presentazione">Il nostro sito nasce con l’intento di aggiornare gli utenti iscritti con le ultime informazioni in tema Covid,
        informarli su dove acquistare prodotti per la sicurezza personale e
        permettere loro di prenotare tamponi nelle varie farmacie disponibili,
        con un focus particolare sulle piccole comunità come paesi e località all’interno della regione Lazio.
        Per questo per accedere è necessario iscriversi o effettuare il login</h3>
</div>

<footer th:replace="fragments/base.html :: fondo">
</footer>

</body>
</html>