<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head th:replace="fragments/base.html :: headerfiles(title='Homepage')">
</head>
<body>

<div class = "all">

  <header th:replace="fragments/base.html :: menu">
  </header>


  <div class="main_content">
    <div class="header">Welcome!! Have a nice day.</div>
    <div class="info">
    <div class="login-box">
    <img th:src="@{images/avatar.png}" class="avatar">
      <form th:action="@{/login}" method="POST">
          <span>Username:</span>
          <span><input name="username" type="text" required /></span>
          <span>Password:</span>
          <span><input name="password" type="password" required /></span>
          <span><input type="submit" value ="Login"></input></span>
      </form>
    </div>
    </div>
  </div>
</div>

<footer th:replace="fragments/base.html :: fondo">
</footer>

</body>
</html>