<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head th:replace="fragments/base.html :: headerfiles(title='Registrati')">
</head>
<body>

<div class="all">

    <header th:replace="fragments/base.html :: menu">
    </header>


    <div class="main_content">
        <div class="header">Welcome!! Have a nice day.</div>
        <div class="info">
        <div class="register-box">
    <img th:src="@{images/avatar.png}" class="avatar">
            <form th:action="@{/register}" method="POST">
                <span>Username</span>
                        <span><input type="text" placeholder="username" th:field="${credentials.username}"/></span>
                        <span th:if="${#fields.hasErrors('credentials.username')}"
                            th:errors="${credentials.username}" th:style="'color:red'"></span>
                
                        <span>Password</span>
                        <span><input type="password" placeholder="password" required th:field="${credentials.password}"/>
                        </span>
                        <span th:if="${#fields.hasErrors('credentials.password')}"
                            th:errors="${credentials.password}" th:style="'color:red'"></span>
                  
                        <span>Nome</span>
                        <span><input type="text" placeholder="nome" required th:field="${user.nome}"/></span>
                        <span th:if="${#fields.hasErrors('user.nome')}"
                            th:errors="${user.nome}" th:style="'color:red'"></span>
                    
                        <span>Cognome</span>
                        <span><input type="text" placeholder="cognome" required th:field="${user.cognome}"/></span>
                        <span th:if="${#fields.hasErrors('user.cognome')}"
                            th:errors="${user.cognome}" th:style="'color:red'"></span>
                    
                        <span>Email</span>
                        <span><input type="text" placeholder="email" th:field="${user.email}"></span>
                    
                        <span>Data di nascita</span>
                        <span><input type="date" th:field="${user.dataNascita}"></span>
                   
                            <span><input type="submit" value ="Registrati"></input></span>
            </form>
        </div>
        </div>
    </div>
</div>

<footer th:replace="fragments/base.html :: fondo">
</footer>

</body>
</html>