<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head th:replace="fragments/base.html :: headerfiles(title='Homepage')">
</head>
<body>

<div class="all">

    <header th:replace="fragments/base.html :: menuUtente(utente = ${utente})">
    </header>


    <div class="main_content">
        <div class="header">Inserisci il tuo negozio</div>
        <div class="info">
            <div class="login-box">
                <form th:action="@{/aggiungiNegozio}" method="POST" th:object="${locale}">
                    <div>
                        <span>Nome negozio</span>
                        <span><input type="text" th:field="${locale.nome}" required/></span>
                    </div>
                    <div>
                        <span>Sito web</span>
                        <span><input type="url" th:field="${locale.sitoWeb}"></span>
                    </div>
                    <div>
                        <span> Orario apertura </span>
                        <span> <input type="time" th:field="${locale.orarioApertura}"> </span>
                    </div>
                    <span> Orario chiusura </span>
                    <span> <input type="time" th:field="${locale.orarioChiusura}"> </span>
            </div>
            <div>
                <span>Localita</span>
                <span><select th:field="${locale.localitaNegozio}">
                            <option th:each="loc : ${localita}" th:text="${loc.nome}" th:value="${loc.id}"></option>
                        </select> </span>
            </div>

            <span> <input type="submit" value="Aggiungi Negozio"> </span>
            </form>
        </div>
    </div>
</div>

<footer th:replace="fragments/base.html :: fondo">
</footer>

</body>
</html>