<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head th:fragment="headerfiles(title)">
  <meta charset="UTF-8"/>
  <link th:href="@{/css/style.css}" rel="stylesheet">
  <title th:text="${title}"></title>
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
</head>
<body>

<header th:fragment=menu>
  <div class="sidebar">
        <h2>Covid Lazio</h2>
        <ul>
            <li><a href="#"><i class="fas fa-home"></i>Home</a></li>
            <li><a th:href="@{/register}" ><i class="fas fa-user"></i>Registrati</a></li>
            <li><a href="#"><i class="fas fa-address-card"></i>Su di noi</a></li>
            <li><a th:href="@{/login}"><i class="fas fa-project-diagram"></i>Login</a></li>
            <li><a href="#"><i class="fas fa-blog"></i>Blogs</a></li>
            <li><a href="#"><i class="fas fa-address-book"></i>Contatti</a></li>
            <li><a href="#"><i class="fas fa-map-pin"></i>Map</a></li>
        </ul> 
    </div>
    </header>
    
  <header th:fragment=menuUtente>
  <div class="sidebarUtente">
        <h2>Covid Lazio</h2>
        <ul>
            <li><a href="#"><i class="fas fa-home"></i>Home</a></li>
            <li><a th:href="@{/logout}"><i class="fas fa-project-diagram"></i>Logout</a></li>
            <li><a href="#"><i class="fas fa-blog"></i>Blogs</a></li>
            <li><a th:href="@{/aggiungiVaccino}"><i class="fas fa-address-book"></i>Vaccino</a></li>
            <li><a href="#"><i class="fas fa-address-book"></i>Contatti</a></li>
            <li><a href="#"><i class="fas fa-map-pin"></i>Map</a></li>
        </ul> 
    </div>
    </header>

<footer th:fragment="fondo" class = "info">
  <ul id="fondo-testo">
    <li> realizzato da Daniele Pica e Giorgio Poggini</li>
  </ul>
</footer>


</body>
</html>